.topicRow {
    display: flex;
    margin-bottom: 4rem;

    width: 100%;
    height: 5rem;

    align-items: center;

    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.topicRowRight {
    flex-direction: row-reverse;
    animation-name: slideRight;
}

@keyframes slideRight {
    0% { 
        transform: translateX(0vw);
    }
    
    100% { 
        transform: translateX(calc(150vw + (3 * 6rem)));
    }
}

.topicRowLeft {
    flex-direction: row;
    animation-name: slideLeft;
}

@keyframes slideLeft {
    0% { 
        transform: translateX(50vw);
    }
    
    100% { 
        transform: translateX(calc(-1 * (150vw + (3 * 6rem)) + 50vw));
    }
}