.topicBubble{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 4rem;
    flex-shrink: 0;

    color: var(--primaryLight);
    background-color: rgba(255, 255, 255, 0.10);
    border: 1px solid var(--primaryLight);
    border-radius: 4rem;
    overflow: hidden;
}